
@media (prefers-color-scheme: dark)
{
    :root{
        --text_color: aliceblue;
        --bg_color: black;
        --timestamp_color: aliceblue;
    }
}
@media (prefers-color-scheme: light)
{
    :root{
        --text_color: black;
        --timestamp_color: black;
        --bg_color: aliceblue;
    }
}


html, body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    transition: color 1s;
}

body{
    color: var(--text_color);
    background-color: var(--bg_color);
}


#page-title
{
    text-align: center;
}

.content
{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p{
    margin: 0;
    padding: 2px;
}

.content #timestamp{
    transition: color 1s ease;
}
.content #timestamp:hover{
    color:rgb(15, 84, 175);
}

.content #target_timestamp{
    transition: color 1s ease;
}
.content #target_timestamp:hover{
    color:rgb(15, 84, 175);
}

.clicked{
    animation: color_change 1s ease-in-out;
}

.content #clock
{
    font-size: 80px;
}
